.active {
    color: white !important;
    background-color: #94E4C9 !important;

}

.active:hover {
    color: white !important;
    background-color: #94E4C9 !important;

}

.type {
    color: inherit;
    text-decoration: none;
    font: bold Poppins 20px;
    flex: 1
}